body {
    background-color: black;
    color: white;
    font-family: quicksand;
    text-align: center;
}

h1 {
    margin-top: 4rem;
    background-color: white;
    height: 100px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    margin-top: 4rem;
}

label {
    font-size: 20px;
}

input {
    margin-top: 2rem;
    width: 20rem;
    height: 2rem;
    border: none;
    padding-left: 1rem;
}

button {
    margin: 2rem;
    width: 10rem;
    height: 2rem;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

hr {
    margin: 2rem 15rem 2rem 15rem;
}

.contenedor {
    margin-top: 3rem;
    height: 40px;
    display: flex;
    font-size: 35px;
    line-height: 40px;
    overflow: hidden;
    justify-content: center;
}

ul, p {
    margin: 0;
    padding-left: 10px;
}

p {
    color: white;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    animation: movimiento 14s infinite;
}

ul li {
    background-image: linear-gradient(90deg, #8c8c8c, #515151, #8c8c8c);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: 1px; 
}


@keyframes movimiento {
    0%, 12.5% { margin-top: 0; }
    14.2857%, 26.7857% { margin-top: -40px; }
    28.5714%, 41.0714% { margin-top: -80px; }
    42.8571%, 55.3571% { margin-top: -120px; }
    57.1429%, 69.6429% { margin-top: -160px; }
    71.4286%, 83.9286% { margin-top: -200px; }
    85.7143%, 99.9999% { margin-top: -240px; }
    100% { margin-top: 0; }
}